# 10-01-2023 | DAY 9  | Tupple

In [2]:
# creating tuples
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

# mixed data type

In [3]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)
print(type(my_tuple))

(1, 'Hello', 3.4)
<class 'tuple'>

# empty tuple

In [4]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

# nested tuple

In [5]:
a = ("data", [10, 20, 30], (5, 10, 15))
print(a)
print(type(a))

('data', [10, 20, 30], (5, 10, 15))
<class 'tuple'>

# creating a tuple with only onee item

In [7]:
# tuple with one element 
var1 = ("hello")
print(var1)
print(type(var1))

# convert string to tuple
var2 = ("hello",)
print(var2)
print(type(var2))

hello
<class 'str'>
('hello',)
<class 'tuple'>

# tuple constructor

In [9]:
a = tuple(("hello","world"))
print(a)
print(type(a))

('hello', 'world')
<class 'tuple'>

# Indexing tuple

In [11]:
a = (1, 2, 3, 4, 5, 6)
print(a[0])
print(a[-1])

1
6

# slicing

In [12]:
a = (1, 2, 3, 4, 5, 6)
print(a[1:3])

(2, 3)

# reverse

In [13]:
t = (1, 2, 3, 4, 5, 6)
print(t[::2])

(1, 3, 5)

In [15]:
t= (1, 2, 3, 4, 5, 6,7,8)
print(t[::-1])
print(t[::])
print (t[:4])
print(t[4:])
print(t[-3:-1])

(8, 7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4)
(5, 6, 7, 8)
(6, 7)

In [16]:
# add elements to a tuple
a = (1, 2, 3, 4, 5, 6)
y = list(a)
y.append(7)
a = tuple(y)
print(a)

(1, 2, 3, 4, 5, 6, 7)

In [18]:
# remove elements to a tuple
a = (1, 2, 3, 4, 5, 6)
y = list(a)
y.remove(6)
a = tuple(y)
print(a)

(1, 2, 3, 4, 5)

# loop

In [19]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

# join two tuple

In [20]:
t1 = (1, 2, 3, 4, 5, 6)
t2 = (7, 8, 9, 10)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# multiply

In [21]:
a = (1, 2, 3, 4, 5, 6)
b = a * 2
print(b)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [22]:
T = (1, 2, 3, 4, 5, 6)
print(T*2)
print(T+T+T)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
6