# 10-01-2023 | DAY 8  | List

In [3]:
# creating list
my_list = [1, 2, 3, 4, 5]
print(my_list)

# creating list with different data types
my_list = [1, "Hello", 3.4]
print(my_list)

# nested list
my_list = ["mouse", [8, 4, 6], ['a']]
print(my_list)

[1, 2, 3, 4, 5]
[1, 'Hello', 3.4]
['mouse', [8, 4, 6], ['a']]

# list datatype

In [4]:
# list datatype

my_list = ['p', 'r', 'o', 'b', 'e']
a = [1, 2, 3, 4, 5, 6]
b = [True, False, True, False]
c = ['apple', 'mango', 'orange']
d = [1, 2, 'apple', 4]
print(my_list)
print(a)
print(b)
print(c)
print(d)

['p', 'r', 'o', 'b', 'e']
[1, 2, 3, 4, 5, 6]
[True, False, True, False]
['apple', 'mango', 'orange']
[1, 2, 'apple', 4]

# list length

In [5]:
a = [1, 2, 3, 4, 5, 6, "student", True, False]
print(len(a))

9

# Access items

In [11]:
thislist=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(thislist[1])
print(thislist[3])

# negative indexing
print(thislist[-1])

1
3
15
[1, 2, 3, 4]

# Slicing index

In [13]:
# slice list
thislist=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(thislist[1:5])
print(thislist[0:12:2])

[1, 2, 3, 4]
[0, 2, 4, 6, 8, 10]

# change item

In [15]:
# change item value
thislist= ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1]="blackcurrant" 
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [16]:
a = [1, 2, 3, 4, 5, 6, -7, 7, 8,-8, 9]
a[2] = "Deva"
print(a)

[1, 2, 'Deva', 4, 5, 6, -7, 7, 8, -8, 9]

In [17]:
# change range of item value

thislist= ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1:3]=["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [18]:
a = [1, 2, 3, 4, 5, 6, -7, 7, 8,-8, 9]
a.append(-9)
print(a)

[1, 2, 3, 4, 5, 6, -7, 7, 8, -8, 9, -9]

In [19]:
m = [1, 2, 3, 4, 5, 6, -7, 7, 8,-8, 9]
m.remove(2)
print(m)

[1, 3, 4, 5, 6, -7, 7, 8, -8, 9]

In [21]:
m = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
m.remove("apple")
print(m)

['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [22]:
mylist = [1,2,3,4,5,6,7,8,"apple", "banana", "cherry"]
mylist.reverse()
print(mylist)

['cherry', 'banana', 'apple', 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
l = [1,2,3,4,5,6,7,8]
print(len(l))

8

# multiply all the number of a list

In [30]:
# multipply list
a = [1,2,3,4,5,6,7,8,9,10]
b = a*2
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]